In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('C:/AI_study/dataset.csv', index_col=0)
df

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [17]:
x= df.drop('trestbps',axis=1)
x

,sex,cp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,
63,1,3,233,1,0,150,0,2.3,0,0,1,1
37,1,2,250,0,1,187,0,3.5,0,0,2,1
41,0,1,204,0,0,172,0,1.4,2,0,2,1
56,1,1,236,0,1,178,0,0.8,2,0,2,1
57,0,0,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,241,0,1,123,1,0.2,1,0,3,0
45,1,3,264,0,1,132,0,1.2,1,0,3,0
68,1,0,193,1,1,141,0,3.4,1,2,3,0
57,1,0,131,0,1,115,1,1.2,1,1,3,0
57,0,1,236,0,0,174,0,0.0,1,1,2,0

In [18]:
y = df['trestbps']
y

age
63    145
37    130
41    130
56    120
57    120
     ...
57    140
45    110
68    144
57    130
57    130
Name: trestbps, Length: 303, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=423)

In [20]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print(clf_dt.score(X_train, y_train))

1.0

In [21]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 27.708671779846803

In [22]:
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(X_train, y_train)

pred_rf = rf_clf.predict(X_test)

print(rf_clf.score(X_train, y_train))

0.8584391438362242

In [23]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 20.51852513633696

In [24]:
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print(clf_lr.score(X_train, y_train))

0.11939868028252909

In [25]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.233348165605904

In [26]:
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print(clf_svm.score(X_train, y_train))

-0.007626716281123214

In [27]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.444820245070684

In [33]:
from sklearn.neighbors import KNeighborsRegressor

# KNN 회귀 모델 생성
clf_knn = KNeighborsRegressor()
clf_knn.fit(X_train, y_train)

# 테스트 데이터에 대한 예측
pred_knn = clf_knn.predict(X_test)

# 훈련 데이터에 대한 모델의 성능 출력 (R-squared)
print(clf_knn.score(X_train, y_train))

0.2008041570041711

In [ ]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)